<!DOCTYPE html>
{{include 'layout.html'}}
<html>
	<head>
		<meta charset = "UTF-8">
		{{include 'web2py_ajax.html'}}
		<!-- hago el link con el CSS de esta pagina -->
		<link href="{{=URL('static', 'css/logIn.css')}}" rel="stylesheet" type="text/css" />
        <link href="{{=URL('static', 'css/layoutStyle.css')}}" rel="stylesheet" type="text/css" />
		<title> SIRADEX </title>

	</head>

	<body>
		<header>
			<!-- Banner de SIRADEX -->
			<div id = "logo">
				{{=IMG(_src=URL('static', 'images/banner.jpg')) }}
			</div>

			<!-- Menu del headder -->
          <a  id = login class ='btn btn-default' href='http://secure.dst.usb.ve/login?service=http%3A%2F%2F127.0.0.1:8001%2FSiraDex%2Fdefault%2Flogin_cas'>
                <span class="glyphicon glyphicon-user"></span>
                 Iniciar Sesión
         </a>
		</header>

		<!-- Contenido principal de la pagina -->
		<section class = "main">
			<h1>
				<div id ="titulo"> Bienvenidos a SIRADEX </div>
			</h1>
			<!-- En esta seccion va todo el contenido de la pagina -->
			<section class = "contenido">
					<!-- Cuando se retorne ejecute una funcion va a poner
								 lo que esta retorne aqui -->

			</section><!-- close contenido -->

		</section><!-- close main -->


		<!-- Es un footer pues -->
				<!-- Es un footer pues -->
		<!--<footer>
			<nav>
				<ul>
					<li><a href = "#">Buscador</a></li>
					<li> | </li>
					<li><a href = "#">Webmail</a></li>
					<li> | </li>
					<li><a href = "#">Aula Virtual USB</a></li>
					<li> | </li>
					<li><a href = "#">Directorio USB</a></li>
					<li> | </li>
					<li><a href = "#">Calendario</a></li>
					<li> | </li>
					<!-- No se como hacer esto en web2py --^  -->
				<!--</ul>
			</nav>
		</footer> -->
        <footer>
            <nav class="navbar navbar-default">
              <div class="container-fluid">
                <p id="footerContactenos">Sartenejas, Baruta, Edo. Miranda - Apartado 89000 - Cable Unibolivar - Caracas Venezuela. Teléfono +58 0212-906.3111</p>
              </div>
            </nav>
		</footer>

        <!-- JavaScript de bootstrap -->
        <script src="{{=URL('static','js/bootstrap.min.js')}}"></script>
        <script src="{{=URL('static','js/web2py-bootstrap3.js')}}"></script>
	</body>
</html>
