<!DOCTYPE html>
{{include 'layout.html'}}
<html>
	<head>
		<meta charset = "UTF-8">
		{{include 'web2py_ajax.html'}}
		<!-- hago el link con el CSS de esta pagina -->
		<link href="{{=URL('static', 'css/registroUsuario.css')}}" rel="stylesheet" type="text/css" />
		<title> SIRADEX </title>
	</head>

	<body>
		<header>
			<!-- Banner de SIRADEX -->
			<div id = "logo">
				{{=IMG(_src=URL('static', 'images/banner.jpg')) }}
			</div>
			
			<!-- Menu del headder -->
			<nav>
				<ul>
					<li>
						<a href = "#">
							Ayuda
						</a>
					</li>
					<li> | </li>
					<li>
						<a href = "#">
							Contáctenos
						</a>
					</li>
					<li> | </li>
					<li>
						<a href = "#">
							Busqueda
						</a>
					</li>
					<!-- No se como hacer esto en web2py --^  -->
				</ul>
			</nav>
		</header>
			
		<!-- Contenido principal de la pagina -->
		<section class = "main">
			<h4 id = titulo> Registro de Usuario </h4>
			<p> Por favor, complete sus datos, luego presione <b> Registrarse </b> 
			para finalizar su registro como usuario de SIRADEX. </p>

			<!-- En esta seccion va todo el contenido de la pagina -->
			<section class = "contenido">
				
				<!-- Cuando se retorne ejecute una funcion va a poner
					 lo que esta retorne aqui -->

                <div>
                    <div class="container-fluid col-md-4">
                    </div>
                    <div class=" container-fluid col-xs-6">
                     {{=form1}}
                     {{=form}}
                    </div>
                    <div class="container-fluid col-md-4">
                    </div>
                </div>

			</section><!-- close contenido -->
			
		</section><!-- close main -->
		
		<!-- Es un footer pues -->
		<footer>
			<nav>
				<ul>
					<li></li>
					<li><a href = "#">Buscador</a></li>
					<li> | </li>
					<li><a href = "#">Webmail</a></li>
					<li> | </li>
					<li><a href = "#">Aula Virtual USB</a></li>
					<li> | </li>
					<li><a href = "#">Directorio USB</a></li>
					<li> | </li>
					<li><a href = "#">Calendario</a></li>
				</ul>
			</nav>
		</footer>

	</body>
</html>
