<!DOCTYPE html>
{{include 'layout.html'}}
<html>
    <head>
        <meta charset = "UTF-8">
        {{include 'web2py_ajax.html'}}
        <!-- hago el link con el CSS de esta pagina -->
        <link href="{{=URL('static', 'css/registroUsuario.css')}}" rel="stylesheet" type="text/css" />
        <title> SIRADEX </title>
    </head>

    <body>
        <header>
            <!-- Banner de SIRADEX -->
            <div id = "logo">
                {{=IMG(_src=URL('static', 'images/banner.jpg')) }}
            </div>
            
            <!-- Menu del headder -->
			<nav>
				<ul>
                    <li><a class ='btn btn-primary btn-xs' href='logout_cas'>
                    <span class="glyphicon glyphicon-user"></span>
                    Cerrar Sesion
                    </a></li>
                    <li> | </li>
					<li><a href = "#">Ayuda</a></li>
					<li> | </li>
					<li><a href = "#">Contáctenos</a></li>
					<li> | </li>
					<li><a href = "#">Busqueda</a></li>
					<li> | </li>
					<li><a href = "{{=URL('vVerPerfil')}}">Ver Perfil</a></li>
                    <li> | </li>
					<li><a href = "{{=URL('vMenuAdmin')}}">Administrador</a></li>
					<li> | </li>
                    <li><a href = "{{=URL('vMenuDex')}}">DEX</a></li>
					<li> | </li>
                    <li><a href = "{{=URL('vMenuPrincipal')}}">Inicio</a></li>
				</ul>
			</nav>
        </header>
            
        <!-- Contenido principal de la pagina -->
        <section class = "main">
        <!-- Menu de navegacion lateral -->
            <aside>
                <ul>
					<li id="layout_aside_gestionar">
                        <h4> Gestionar:</h4>
                    </li>
                    <li id="layout_aside_backups">
                        <a href="#">
                            Backups
                        </a>
                    </li>
					<li id="layout_aside_catalogos">
                        <a href="#">
                            Catalogos
                        </a>
                    </li>
                    <li id="layout_aside_logs">
                        <a href="#">
                            Logs
                        </a>
                    </li>
					<li id="layout_aside_usuarios">
                        <a href="vGestionarUsuarios">
                            Usuarios
                        </a>
                    </li>
				</ul>
			</aside>
            <section class = "contenido">
                <h4 id = "titulo"> Gestión de Catalogos </h4>
                <p>
                    {{ = forma}}
                <div id = "error">
                    {{=message}}
                </div>
                <br/>
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <td class="col-md-4"><b>Nombre</b></td>
                            <td class="col-md-5"><b>Editar</b></td>
                            <td class="col-md-6"><b>Examinar</b></td>
                            <td class="col-md-7"><b>Eliminar</b></td>
                        </tr>
                    </thead>
                    <tbody>
                        {{for catalogo in catalogos:}}
                            <tr>
                                <td class="col-md-4">
                                    {{ =catalogo.nombre}}
                                </td>
                                <td class="col-md-5">
                                    <a href = "{{=URL(f='#')}}">
                                        {{=IMG(_src=URL('static', 'iconos/Edit.png')), }}
                                    </a>
                                </td>
                                <td class="col-md-6">
                                    <a href = "{{=URL(f='vAgregarElementoCampo', args=[ catalogo.nombre ])}}">
                                        {{=IMG(_src=URL('static', 'iconos/Examine_26x26.png')), }}
                                    </a>
                                </td>
                                <td class="col-md-7">
                                    <a href = "{{=URL(f='eliminarCampos', args=[ catalogo.nombre ])}}">
                                        {{=IMG(_src=URL('static', 'iconos/Delete.png')), }}
                                    </a>
                                </td>
                            </tr>
                        {{pass}}
                    </tbody>
                </table>
                </p>
                <br/>
                
            </section><!-- close main -->
        </section>
        <!-- Es un footer pues -->
        <footer>
            <nav>
                <ul>
                    <li></li>
                    <li><a href = "#">Buscador</a></li>
                    <li> | </li>
                    <li><a href = "#">Webmail</a></li>
                    <li> | </li>
                    <li><a href = "#">Aula Virtual USB</a></li>
                    <li> | </li>
                    <li><a href = "#">Directorio USB</a></li>
                    <li> | </li>
                    <li><a href = "#">Calendario</a></li>
                </ul>
            </nav>
        </footer>
    </body>
</html>
