<!DOCTYPE html>
{{include 'layout.html'}}
<html>
    <head>
        <meta charset = "UTF-8">
        {{include 'web2py_ajax.html'}}
        <!-- hago el link con el CSS de esta pagina -->
        <link href="{{=URL('static', 'css/registroUsuario.css')}}" rel="stylesheet" type="text/css" />
        <title> SIRADEX </title>
    </head>

    <body>
        <header>
            <!-- Banner de SIRADEX -->
            <div id = "logo">
                {{=IMG(_src=URL('static', 'images/banner.jpg')) }}
            </div>
            
            <!-- Menu del headder -->
			<nav>
				<ul>
                    <li><a class ='btn btn-primary btn-xs' href='logout_cas'>
                    <span class="glyphicon glyphicon-user"></span>
                    Cerrar Sesión
                    </a></li>
                    <li> | </li>
					<li><a href = "#">Ayuda</a></li>
					<li> | </li>
					<li><a href = "#">Contáctenos</a></li>
					<li> | </li>
					<li><a href = "#">Búsqueda</a></li>
					<li> | </li>
					<li><a href = "{{=URL('vVerPerfil')}}">Ver Perfil</a></li>
                    <li> | </li>
					<li><a href = "{{=URL('vMenuAdmin')}}">Administrador</a></li>
					<li> | </li>
                    <li><a href = "{{=URL('vMenuDex')}}">DEX</a></li>
					<li> | </li>
                    <li><a href = "{{=URL('vMenuPrincipal')}}">Inicio</a></li>
				</ul>
			</nav>
        </header>
            
        <!-- Contenido principal de la pagina -->
        <section class = "main">
        <!-- Menu de navegacion lateral -->
            <aside>
                <ul>
					<li id="layout_aside_gestionar">
                        <h4> Gestionar:</h4>
                    </li>
                    <li id="layout_aside_backups">
                        <a href="#">
                            Backups
                        </a>
                    </li>
					<li id="layout_aside_catalogos">
                        <a href="#">
                            Catalogos
                        </a>
                    </li>
                    <li id="layout_aside_logs">
                        <a href="#">
                            Logs
                        </a>
                    </li>
					<li id="layout_aside_usuarios">
                        <a href="vGestionarUsuarios">
                            Usuarios
                        </a>
                    </li>
				</ul>
			</aside>
            <section class = "contenido">
                <div class = "session_message">
                    {{ =session.message or ''}}
                </div>
                <h4 id = "titulo"> Gestión de Catalogos </h4>
                <a href = "{{=URL(f='vAgregarElementoCampo',args =[nombre])}}">
                        {{=IMG(_src=URL('static', 'iconos/Add_26x26.png')) }}
                        Agregar Valores
                    </a>
                <div class = "table-responsive">
                <table class = "table table-bordered">
                    <thead>
                        <tr>
                            {{for campo in campos_guardados:}}
                                <td class="col-md">{{=campo.CAMPO_CATALOGO.nombre}}</td>
                        {{pass}}
                            <td class="col-md-2"><b>Editar</b></td>
                            <td class="col-md-2"><b>Eliminar</b></td>
                        </tr>
                    </thead>
                    <tbody>
                            {{for j in range (0,len(filas)):}}
                                <tr>
                                {{for i in filas[j]:}}
                                    <td class="col-md">{{=i['valor']}}</td>
                                {{pass}}
                                <td class="col-md-2">
                                    <a href = "{{=URL(f='vModificarCampos',args =[filas[j][0]['valor'],j])}}">
                                        {{=IMG(_src=URL('static', 'iconos/Edit.png')), }}
                                    </a>
                                </td>
                                <td class="col-md-2">
                                <a onClick = "if(confirm('¿Está seguro de que desea eliminar los valores?')) {window.location.href = '{{=URL(f='eliminarValorCampo',args=[ filas[j][0]['valor'] ] )}}';}">
                                    {{=IMG(_src=URL('static', 'iconos/Delete.png')), }}
                                </td>
                              {{pass}}
                              </tr>
                    </tbody>
                </table>
                </div>
                <br/>
            </section><!-- close main -->
        </section>
        <!-- Es un footer pues -->
        <footer>
            <nav>
                <ul>
                    <li></li>
                    <li><a href = "#">Buscador</a></li>
                    <li> | </li>
                    <li><a href = "#">Webmail</a></li>
                    <li> | </li>
                    <li><a href = "#">Aula Virtual USB</a></li>
                    <li> | </li>
                    <li><a href = "#">Directorio USB</a></li>
                    <li> | </li>
                    <li><a href = "#">Calendario</a></li>
                </ul>
            </nav>
        </footer>
    </body>
</html>
